html, body{
    display: flex;
    flex-direction: column;
    height:100vh;
    margin: 0;
    background-image: linear-gradient(to right top, #4c6283, #296c83, #207473, #41775b, #677645);
    color: aliceblue!important;
  }